
<h2>Competition Details</h2>

<h3>Position: {{ currentCompetition.position }}</h3>

<h3>Competition: {{ currentCompetition.name }}</h3>
<h3>Distance: {{ currentCompetition.distance }}</h3>
<h3>Description: {{ currentCompetition.description }}</h3>

<div>
  <label>Description edit:
    <input [(ngModel)]="currentCompetition.description"/>
  </label>
</div>

<div class="button_container">
  <button mat-raised-button color="accent" (click)="saveDescription()">Save description</button>
  <button mat-raised-button color="accent" (click)="resetDescription()">Reset description</button>
  <button mat-raised-button color="accent" (click)="deleteDescription()">Delete description</button>
</div>
